@import "tailwindcss";
/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* In your globals.css */
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

@font-face {
  font-family: 'Cool';
  src: url('../public/fonts/Coolvetica_Tg.otf') format('opentype');
}
@font-face {
  font-family: 'Imperium';
  src: url('../public/fonts/IMPERIUM.ttf') format('truetype');
}
@font-face {
  font-family: 'Sunflare';
  src: url('../public/fonts/Sunflare.ttf') format('truetype');
}
@font-face {
  font-family: 'RC';
  src: url('../public/fonts/RC.otf') format('opentype');
}

body {
  font-family: 'Cool', sans-serif;
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;     /* Firefox */
  overflow-x: hidden;
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none !important;  /* Chrome, Safari, Opera */
}


