@import "tailwindcss";
/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* In your globals.css */
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}

@font-face {
  font-family: 'Imperium';
  src: url('/fonts/Imperium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sunflare';
  src: url('/fonts/Sunflare.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cool';
  src: url('/fonts/Coolvetica_Tg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'Cool', sans-serif !important;
}
@font-face {
  font-family: 'RC';
  src: url('/fonts/R&C-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}